h1 {
  color: purple;
  text-decoration: underline;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(241, 241, 155);
  border: 4px solid;
  margin: 100px;
  font-weight: bold;
  text-align: center;
}
h1 > p {
  padding: 50px;
  margin-top: 50px;
}
img {
  border-radius: 50px;
}
h2 {
  background-color: bisque;
}
.navbar li {
  display: inline-block;
  margin-right: 20px;
}
form input {
  height: 50px;
  width: 1200px;
  font-size: larger;
}
form textarea {
  height: 200px;
  width: 1000px;
}
